*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

.container{
    display: grid;
    grid-gap: 40px;
    grid-row-gap: 60px;
    width: 100%;
    grid-template-columns: repeat(5, 208px);
    grid-template-rows: repeat(3, 268px);
    height: 100%;
    padding: 40px;
}



img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.container div .icon{
    display: flex;
    height: 30px;
    color: #bdbdbd;
    align-items: center;
    justify-content: flex-end;
}

i.far.fa-eye {
    margin-right: 5px;
}

i.fas.fa-comment, i.fas.fa-heart {
    margin: 0px 5px 0px 10px !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 1280px;
    margin: auto;
}
nav{
    background-color: rgb(42 42 42);
    height: 50px;
    color: white;
}
nav a{
    color: white;
    text-decoration: none;
}
nav ul{
    margin-top: 11px;
    width: 50%;
    height: 30px;
    float: left;
    display: flex;
    justify-content: space-around;
}
nav ul li:nth-child(1){
    font-weight: bold;
    font-size: 17px;
    margin-top: 0;
}
nav ul li:nth-child(8){
    font-size: 30px;
    margin-top: -17px;
}
nav ul li{
    float: left;
    list-style-type: none;
    font-size: 14px;
    margin-top: 2px;
}
.nav-2nd-half{
    float: right;
    padding: 11px;
}
.nav-2nd-half a{
    margin-right: 27px;
    font-size: 14px;
}
.nav-2nd-half input{
    width: 200px;
    border-radius: 4px;
    height: 26px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    color: rgb(42 42 42);
}
.what-are-you-working-on{
    background-color: rgb(79 79 79);
    height: 120px;
    display: flex;
    justify-content: center;
}
.what-are-you-working-on p{
    float: left;
    margin-right: 10px;
    text-transform: capitalize;
}
.what-are-you-working-on .text-container{
    width: 788px;
    margin: auto;
    color: white;
}
.what-are-you-working-on p:nth-child(1){
    font-weight: bold;
}
.what-are-you-working-on button{
    height: 30px;
    width: 100px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: -10px;
}

.autor {
    height: 20%;
    color: #bdbdbd;
    display: flex;
    margin-top: 5px;
    padding-top: 20px;
    border-top: 1px solid;
}

.circle {
    background: #E91E63;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 25px;
}